@import "../../styles/base/utils.scss";
@import "../../styles/base/mixins.scss";

.navbar {
  @extend .flex-ac-jb;
  padding: 2rem 7.75rem;
  position: sticky;
  top: 0;
  z-index: 3;
  --navBg: #fff;
  background: var(--navBg);
  ul {
    @extend .flex-ac;
    gap: 3.625rem;
    li {
      a {
        color: rgba(0, 15, 48, 0.7);
        font-size: 0.875rem;
      }
    }
  }
  &_dark_bg {
    --navBg: #000a20;
    background: var(--navBg);
    li {
      a {
        color: rgba(255, 255, 255, 0.7) !important;
      }
    }
  }
  &_toggle {
    @extend .flex-ac-jc;
    width: 30px;
    height: 30px;
    flex-direction: column;
    gap: 0.5rem;
    position: fixed;
    top: 2rem;
    right: 2.5rem;
    border-radius: 50%;
    z-index: 4;
    --bg: transparent;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 45px;
      height: 45px;
      background: var(--bg);
      border-radius: 50%;
      transform: translate(-50%, -6%);
      z-index: -1;
    }
    &_line {
      --spanBg: #000a20;
      width: 100%;
      height: 5px;
      background: var(--spanBg);
      border-radius: 4px;
      position: relative;
      transition: all 0.2s linear;
      &:first-child {
        width: 50%;
        // margin-top: -1.75rem;
        // position: absolute;
        // left: 0;
        display: flex;
        align-self: flex-start;
      }
      &:last-child {
        // position: absolute;
        // top: 1.95rem;
        // right: 0;
        display: flex;
        align-self: flex-end;
        width: 50%;
      }
    }
    &:hover {
      span {
        width: 100%;
      }
    }
    @media (min-width: 801px) {
      display: none;
    }
    &.dark_toggle span {
      --spanBg: #fff;
      background: var(--spanBg) !important;
    }
  }
  @media (max-width: 800px) {
    ul {
      display: none;
    }
    button {
      &:first-child {
        display: none;
      }
    }
  }
  @include respondMax("tablet3x") {
    padding-left: 2.125rem;
    padding-right: 2.125rem;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--navBg);
    z-index: -1;
  }
}

.footer {
  background: #000a20;
  padding: 9rem 17.688rem 6.063rem 13.813rem;
  &_top {
    h1 {
      color: #fff;
      font-size: 3.438rem;
      &:first-child {
        font-weight: 800;
      }
      &:last-child {
        text-decoration-line: underline;
        font-weight: 300;
        padding-top: 1rem;
      }
    }
  }
  &_bottom {
    margin-top: 13rem;
    font-family: "Axiforma", sans-serif;
    display: flex;
    gap: 14.688rem;
    &_left {
      a {
        color: #fff;
        font-weight: 500;
        width: max-content;
        &:first-child {
          font-size: 1.25rem;
          position: relative;
          overflow: hidden;
          display: block;
        }
        span {
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          width: 100%;
          background: #fff;
          transform: translateX(-100%);
        }
        &:last-child {
          display: block;
          margin-top: 2.375rem;
        }
      }
      p {
        color: rgba(255, 255, 255, 0.79);
        margin-top: 3rem;
      }
    }
    &_right {
      display: flex;
      gap: 9.625rem;
      a {
        color: rgba(255, 255, 255, 0.8);
        font-size: 1.125rem;
        font-weight: 300;
        position: relative;
        height: max-content;
        width: max-content;
      }
      &_l {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 9.625rem;
        @media (max-width: 900px) {
          gap: 3.25rem;
        }
      }
      &_r {
        display: grid;
        @media (max-width: 900px) {
          grid-template-columns: 1fr 1fr;
          gap: 3.25rem;
        }
      }
      @media (max-width: 900px) {
        flex-direction: column;
        gap: 3.25rem;
        // margin-top: 7.5rem;
      }
    }
    @media (max-width: 900px) {
      flex-direction: column;
      gap: 7.5rem;
      margin-top: 7.5rem;
    }
  }
  @include respondMax("tablet3x") {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  @media (max-width: 600px) {
    padding: 6.5rem 2.5rem;
  }
  @media (max-width: 375px) {
    h1 {
      font-size: 2.25rem;
      line-height: 3.125rem;
    }
  }
}

@keyframes width {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.mobile_nav {
  background: #fff;
  padding: 2.5rem 0;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  // @include respondMax("mobile2x") {
  //   width: 100%;
  //   position: unset;
  // }
  header {
    @extend .flex-ac-jb;
    padding: 0 2.5rem;
  }

  ul {
    @extend .flex-ac-jc;
    gap: 3.625rem;
    flex-direction: column;
    margin-bottom: 3.625rem;
    margin-top: 5rem;
    li {
      color: rgba(0, 15, 48, 0.65);
      font-size: 1.875rem;
      overflow: hidden;
      transition: all 0.2s linear;
      a {
        color: rgba(0, 15, 48, 0.65);
        display: block;
        transform: translateY(100%);
        &.active {
          color: #090909;
          font-size: 2.18rem;
        }
      }
      &:hover {
        a {
          color: #090909;
        }
        transform: scale(1.2);
      }
    }
    .navbar_toggle {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  footer {
    overflow: hidden;
    @extend .flex-ac-jc;
    button {
      transform: translateY(100%);
    }
  }
  .mobile_toggle {
    @extend .flex-ac-jc;
    flex-direction: column;
    width: 45px;
    height: 45px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    right: 2.5rem;
    top: 2rem;
    &_line {
      width: 50%;
      height: 5px;
      background: #fff;
      border-radius: 4px;
      &:first-child {
        transform: rotate(45deg);
      }
      &:last-child {
        transform: rotate(-45deg);
        margin-top: -0.5rem;
      }
    }
  }
  @media (min-width: 801px) {
    display: none;
  }
}

.transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0;
  z-index: 5;
  background: #00d161;
  pointer-events: none;
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    text-transform: capitalize;
    overflow: hidden;
    span {
      display: block;
      transform: translateY(100%);
    }
  }
}

.cursor {
  @extend .flex-ac-jc;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #00d161;
  // transform: translate(-50%, -50%);
  position: fixed;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  transition-property: background, transform;
  // transform-origin: 75% 75%;
  text-align: center;
  // mix-blend-mode: difference;
  z-index: 5;
  &_text {
    color: #fff;
    font-family: inherit;
  }
  @include respondMax("tablet3x") {
    display: none;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  pointer-events: none;
  div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    transform: translateX(-100%);
    &:last-child {
      // transform: translateX(-200%);
    }
  }
  &_left {
    background: #00d161;
  }
  &_right {
    background: #000a20;
  }
}
