@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 1vw;
  @media (max-width: 992px) {
    font-size: calc(100vw / 992 * 14);
  }
  @media (max-width: 768px) {
    font-size: calc(100vw / 768 * 14);
  }
  @media (max-width: 600px) {
    font-size: calc(100vw / 600 * 14);
  }
  @media (max-width: 480) {
    font-size: calc(100vw / 480 * 16);
  }
  @media (max-width: 375px) {
    font-size: calc(100vw / 375 * 14);
  }
}

body {
  font-family: "Switzer", sans-serif;
  color: #f3f3f3;
  background: #2e2e2e;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
  }
  &::-webkit-scrollbar-track {
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button,
a {
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
}

ul {
  list-style-type: none;
}

input {
  font-family: inherit;
}
